<ion-header>
  <ion-navbar>
    <ion-title>WhoOwns</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">

  <ion-grid>
    <ion-row>
      <ion-col width-20><ion-label class="darker pull-right">Who owns</ion-label></ion-col>
      <ion-col width-70>
        <ng2-completer [(ngModel)]="brandName" [dataService]="dataService" [overrideSuggested]="true"
                 [minSearchLength]="0" [clearSelected]="true" (selected)="checkBrand()"></ng2-completer>
      </ion-col>
      <ion-col width-10>
        <button class="wide darker" (click)="checkBrand()">?</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>

  <ion-card *ngIf="brandName">
    <ion-card-content>
      <p class="bigger">
        <span *ngIf="brandInfo">
          {{brandInfo.name}} is owned by <span class="darker">{{brandInfo.owner}}</span>
        </span>
        <span *ngIf="!brandInfo">
          Brand not found
        </span>
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
